<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.lcy.xxmall.filter.aop"/>
    <!-- 开启基于@AspectJ切面的注解处理器 -->
    <!-- proxy-target-class="true"表示基于类的代理将起作用（这时需要cglib库），false表示基于接口的代理将起作用 -->
    <aop:aspectj-autoproxy expose-proxy="true"/>

</beans>